<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/book_record.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <form action="/book/search" method="GET">
        <input type="text" name="q" placeholder="Search by book name" value="<%= query %>">
        <button type="submit" id="searchButton">Search</button>
      </form>
  

    <main>
        
        <nav>
            <div class="logo"><i class="fa-solid fa-bars"></i></div>
             <ul>
               <li><a href="/admin/admin_details"><i class="fa-solid fa-user"></i></a><span class="nav-item">Admin</span></li>
               <li><a href="/book/add_book"><i class="fa-solid fa-folder-plus"></i></a><span class="nav-item">Add Book</span></li>
               <li><a href="/book/book_details"><i class="fa-solid fa-table-list"></i></a><span class="nav-item">Book Record</span></li>
               <li><a href="/book/book_record"><i class="fa-solid fa-circle-info"></i> </a><span class="nav-item">Book Details</span></li>
               <li><a href="/issue/issue_book"> <i class="fa-solid fa-book"></i></a><span class="nav-item">Issue Book</span></li>
               <li><a href="/issue/issue_book_record"><i class="fa-solid fa-list-check"></i></a><span class="nav-item">Issue Book Record</span></li>
               <li><a href="/admin/sign-out"><i class="fa-solid fa-right-from-bracket"></i></a><span class="nav-item">Logout</span></li>
             </ul>
           </nav>
        <h2>Book Record</h2>
      
        <table>
            <tr>
                <th>Book ID</th>
                <th >Book Name</th>
                <th>Author</th>
                <th>Book Publisher</th>
                <th>Book Price</th>
                <th>Delete</th>
                <th>Details</th>
               
            </tr>
            <% for(let i of books){%>

               <tr>
                <td><%= i.book_id %></td>
                   <td><%=i.book_name%></td>
                   <td><%=i.book_author%></td>
                   <td><%=i.book_publisher%></td>
                   <td><%=i.book_price%></td>
                   <td><a href="/delete_book/?id=<%=i.id%>" onclick="return myDeleteFunction()">Delete</a></td>
                   a></td>
                   <td><a href="/book/book_details/<%= i.book_id %>">Details</a></td>



               </tr>

            <% } %>

        </table>
      
       </main>
</body>

   <script>
    function myDeleteFunction() {
        var result = confirm("Do you still want to delete?");
        return result;
    }
</script>


</html>

